@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.app{
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width:  10px;
}

::-webkit-scrollbar-track{
  background: #000;
}

::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-scrollbar-track:hover{
  background: #555;
}

a{
text-decoration: none;
}

#loginSubmitButton{
  margin-top: 20px; 
  margin-left: 80px; 
  padding: 10px 20px 10px 20px;
  border: 2px solid #888;
  border-radius: 5px;
  background-color: #c2c2c2;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

#loginSubmitButton:hover{
  background-color: #e0e0e0;
  cursor: pointer;
}

#loginSubmitButton:active, .pickUserButton:active{
  box-shadow: 4px 4px 6px 2px rgba(38,36,36,0.75) inset;
  -webkit-box-shadow: 4px 4px 6px 2px rgba(38,36,36,0.75) inset;
  -moz-box-shadow: 4px 4px 6px 2px rgba(38,36,36,0.75) inset;
}

.userList{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  width: 460px;
  height: 600px;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.pickedUserList{
  margin: 10px;
  padding: 0;
}

.userListHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 460px;
  height: 40px;
  border-radius: 4px;
}

.userRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
  border-radius: 4px;
  border: #727681 solid 2px;
}

.pickUserButton{
  width: 100px;
  padding: 5px;
  display: flex;
  margin: 5px 20px;
  justify-content: center;
  align-items: center;
  background-color: #3da58a;
  border-radius: 4px;
  cursor: pointer;
}

.removeUserButton{
  background-color: #d67b14c7;
}

#pickedUserContainer{
  width: 500px;
  height: 120px;
  border-radius: 10px;
}

#pickedElement, .pickUserButton:hover{
  background-color: #4cceac;
}

.removeUserButton:hover{
  background-color: #f89c25d8;
}

.deactivated{
  background-color: #a3aaa7ec;
}

.deactivated:hover{
  background-color: #a3aaa7ec;
}

.switchUsers{
  margin-top: 10px;
}

.moveUser{
  margin-top: 20px;
}

.moveToGroup{
  width: 50px;
  font-size: 20px;
  font-weight: bold;
}